@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
  background: #eef9fb;
}

.calculator {
  width: 280px;
  height: 450px;
  border-radius: 10px;
  padding: 10px;
  background: #5c8ba3;
  box-shadow: 14px 14px 28px #a2a9ab, -14px -14px 28px #ffffff;
  box-sizing: border-box;
}

.text-area {
  height: 100px;
  display: grid;
  background: #fff;
  grid-template-rows: 1fr 1fr;
  border-radius: 10px;
}

#input,
#answer {
  width: 100%;
  font-weight: bolder;
  letter-spacing: 0.25rem;
  font-size: 20px;
  border: none;
  outline: none;
  background: none;
  padding: 10px;
  resize: none;
}

#answer {
  text-align: end;
}

::-webkit-scrollbar {
  display: none;
}

.buttons {
  width: 100%;
  height: calc(100% - 150px);
  border-radius: 10px;
  padding: 10px 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.buttons > button {
  width: 55px;
  height: 55px;
  font-size: 20px;
  margin-bottom: 3px;
  font-weight: bolder;
  border: none;
  border-radius: 50%;
}
